In [22]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [23]:
# Create a set of random latitude and longitude combinations.
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lat_lngs = list(zip(lats, lngs))

In [24]:
# Use the citipy module to determine city based on latitude and longitude.
from citipy import citipy

In [25]:
coordinates = lat_lngs[:100]

In [26]:
# Use the print() function to display the latitude and longitude combinations.
for coordinate in coordinates[:10]:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

naro moru ke
acapulco mx
vestmannaeyjar is
ushuaia ar
punta arenas cl
rikitea pf
clyde river ca
butaritari ki
asgabat tm
rikitea pf

In [27]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

80

In [28]:
# Import the requests library.
import requests

# Import the API key.
from config import weather_api_key

# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [29]:
# Import the time library and the datetime module from the datetime library 
import time
from datetime import datetime

In [30]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + cities[i]
    
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 2 | naro moru
Processing Record 2 of Set 2 | acapulco
Processing Record 3 of Set 2 | vestmannaeyjar
Processing Record 4 of Set 2 | ushuaia
Processing Record 5 of Set 2 | punta arenas
Processing Record 6 of Set 2 | rikitea
Processing Record 7 of Set 2 | clyde river
Processing Record 8 of Set 2 | butaritari
Processing Record 9 of Set 2 | asgabat
Processing Record 10 of Set 2 | hobart
Processing Record 11 of Set 2 | puerto ayora
Processing Record 12 of Set 2 | belyy yar
Processing Record 13 of Set 2 | port alfred
Processing Record 14 of Set 2 | vallenar
Processing Record 15 of Set 2 | dikson
Processing Record 16 of Set 2 | fortuna
Processing Record 17 of Set 2 | callaway
Processing Record 18 of Set 2 | barentsburg
City not found. Skipping...
Processing Record 19 of Set 2 | busselton
Processing Record 20 of Set 2 | sulangan
Processing Record 21 of Set 2 | yellowknife
Processing Record 22 of Set 2 | qaanaaq
Processing Record 23 of Set 2 | coihaique
Processing Record 24 of Set 2 | nome
Processing Record 25 of Set 2 | atuona
Processing Record 26 of Set 2 | san rafael
Processing Record 27 of Set 2 | avarua
Processing Record 28 of Set 2 | carnarvon
Processing Record 29 of Set 2 | mataura
Processing Record 30 of Set 2 | castro
Processing Record 31 of Set 2 | codrington
Processing Record 32 of Set 2 | graham
Processing Record 33 of Set 2 | kruisfontein
Processing Record 34 of Set 2 | kaitangata
Processing Record 35 of Set 2 | oksfjord
Processing Record 36 of Set 2 | new norfolk
Processing Record 37 of Set 2 | jawar
Processing Record 38 of Set 2 | illoqqortoormiut
City not found. Skipping...
Processing Record 39 of Set 2 | temaraia
City not found. Skipping...
Processing Record 40 of Set 2 | raudeberg
Processing Record 41 of Set 2 | kodiak
Processing Record 42 of Set 2 | hermanus
Processing Record 43 of Set 2 | hailey
Processing Record 44 of Set 2 | mikkeli
Processing Record 45 of Set 2 | skelleftea
Processing Record 46 of Set 2 | walvis bay
Processing Record 47 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 48 of Set 2 | khatanga
Processing Record 49 of Set 2 | mahebourg
Processing Record 50 of Set 2 | komsomolskiy
Processing Record 1 of Set 3 | saint-lo
Processing Record 2 of Set 3 | talnakh
Processing Record 3 of Set 3 | sentyabrskiy
City not found. Skipping...
Processing Record 4 of Set 3 | saskylakh
Processing Record 5 of Set 3 | richards bay
Processing Record 6 of Set 3 | shahreza
Processing Record 7 of Set 3 | attawapiskat
City not found. Skipping...
Processing Record 8 of Set 3 | sissach
Processing Record 9 of Set 3 | arraial do cabo
Processing Record 10 of Set 3 | albany
Processing Record 11 of Set 3 | belushya guba
City not found. Skipping...
Processing Record 12 of Set 3 | galle
Processing Record 13 of Set 3 | kazalinsk
City not found. Skipping...
Processing Record 14 of Set 3 | lavrentiya
Processing Record 15 of Set 3 | boyolangu
Processing Record 16 of Set 3 | maniitsoq
Processing Record 17 of Set 3 | samusu
City not found. Skipping...
Processing Record 18 of Set 3 | bredasdorp
Processing Record 19 of Set 3 | vanavara
Processing Record 20 of Set 3 | port moresby
Processing Record 21 of Set 3 | kapaa
Processing Record 22 of Set 3 | pisco
Processing Record 23 of Set 3 | komsomolets
Processing Record 24 of Set 3 | villarrica
Processing Record 25 of Set 3 | ipira
Processing Record 26 of Set 3 | salinopolis
Processing Record 27 of Set 3 | faanui
Processing Record 28 of Set 3 | alofi
Processing Record 29 of Set 3 | svetlogorsk
Processing Record 30 of Set 3 | tuktoyaktuk
-----------------------------
Data Retrieval Complete
-----------------------------

In [32]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
print(city_data_df.shape)
city_data_df.head(10)

(71, 9)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Naro Moru,-0.1676,37.0213,62.78,72,77,5.03,KE,2022-11-07 05:55:27
1,Acapulco,16.8634,-99.8901,79.12,89,27,4.29,MX,2022-11-07 05:55:27
2,Vestmannaeyjar,63.4427,-20.2734,42.19,63,56,7.25,IS,2022-11-07 05:55:28
3,Ushuaia,-54.8000,-68.3000,44.26,93,0,3.44,AR,2022-11-07 05:51:36
4,Punta Arenas,-53.1500,-70.9167,55.51,67,0,16.11,CL,2022-11-07 05:55:28
5,Rikitea,-23.1203,-134.9692,72.61,83,93,19.60,PF,2022-11-07 05:55:28
6,Clyde River,70.4692,-68.5914,-3.77,71,0,5.75,CA,2022-11-07 05:55:29
7,Butaritari,3.0707,172.7902,80.35,75,43,6.04,KI,2022-11-07 05:55:29
8,Asgabat,37.9500,58.3833,48.06,87,100,11.50,TM,2022-11-07 05:55:29
9,Hobart,-42.8794,147.3294,70.27,68,75,13.80,AU,2022-11-07 05:55:30

In [35]:
new_column_order = ["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]
city_data_df = city_data_df[new_column_order]
city_data_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Naro Moru,KE,2022-11-07 05:55:27,-0.1676,37.0213,62.78,72,77,5.03
1,Acapulco,MX,2022-11-07 05:55:27,16.8634,-99.8901,79.12,89,27,4.29
2,Vestmannaeyjar,IS,2022-11-07 05:55:28,63.4427,-20.2734,42.19,63,56,7.25
3,Ushuaia,AR,2022-11-07 05:51:36,-54.8000,-68.3000,44.26,93,0,3.44
4,Punta Arenas,CL,2022-11-07 05:55:28,-53.1500,-70.9167,55.51,67,0,16.11
5,Rikitea,PF,2022-11-07 05:55:28,-23.1203,-134.9692,72.61,83,93,19.60
6,Clyde River,CA,2022-11-07 05:55:29,70.4692,-68.5914,-3.77,71,0,5.75
7,Butaritari,KI,2022-11-07 05:55:29,3.0707,172.7902,80.35,75,43,6.04
8,Asgabat,TM,2022-11-07 05:55:29,37.9500,58.3833,48.06,87,100,11.50
9,Hobart,AU,2022-11-07 05:55:30,-42.8794,147.3294,70.27,68,75,13.80

In [37]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")